
body{
  font-family: Calibri, Helvetica, sans-serif;
  background-color:#F3D897;
}
.container {
    padding: 50px;
  background-color: white;
  margin: 50px;
}
.all{
  margin-left: 80px;
}
.p1:before,
.p1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  width: 20%;
}
.p1:before {
margin-left: 80px;
}
.sign{
 display: flex;
 margin-left: 60%;
}
.top{
  display: flex;
  margin-left: 80px;
}
span{
color: #43979E;
}
input[type=email] {
width: 45%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}
input[type=password] {
width: 45%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}
.forgot{
margin-left: 150px;
}
.check{
margin-top: 15px;
}
.login{
margin-top: 20px;
border: 1px solid ;
width: 45%;
padding: 1%;
background-color: #92e2e9;
}
.change{
margin-top: 20px;
border: 1px solid ;
width: 45%;
padding: 1%;
background-color: rgb(226, 192, 80);
}
.pic{
margin-left: 60%;
width: 400px;
height: 400px;
margin-top: -40%;
}
.icons{
margin-left: 240px;
}
.fa{
padding-right: 50px
}











